 <!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SFI - Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">SFI</a>
        <a class="btn btn-primary" href="/register">Register Page</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto">
            <form method='POST'>
              {% include 'includes/_messages.html' %}
              <div class="row">
                  <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                          <input type="text" class="form-control" name="email" placeholder="Enter Your Email" value={{request.form.email}}>
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Enter Your Password" value={{request.form.password}}>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Footer -->
  {% include 'footer.html' %}

</html>
