<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ p1_data.first_name }} Profile</title>

    <!-- Bootstrap core CSS-->
    <link href="static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/dash/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/dash/css/sb-admin.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="static/showprofile/css/show-profile.css">
  </head>

  <body id="page-top">


    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index.html">SFI User Profile</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      {% include 'nav.html' %}

      <div id="content-wrapper">

        <div class="-fluid">


          <!--Profile show here-->
            <div class="container">
              <hr>
              <div class="row">

      <!-- edit form column -->
      {% include 'includes/_messages.html' %}
      {% from 'includes/_formhelpers.html' import render_field %}
      <div class="col-md-9 personal-info">

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Personal Info</a>
              </h3>
            </div>

            <div id="collapse1" class="panel-collapse collapse show">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.first_name, class_='form-control', value=p1_data.first_name)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.surname, class_='form-control', value=p1_data.surname)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.suffix, class_='form-control', value=p1_data.suffix)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.job_title, class_='form-control', value=p1_data.job_title)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.institution, class_='form-control', value=p1_data.institution)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.orcid, class_='form-control', value=p1_data.orcid)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.phone, class_='form-control', value=p1_data.phone)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.phone_extension, class_='form-control', value=p1_data.phone_extension)}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Save Personal Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Education Info</a>
              </h3>
            </div>

            <div id="collapse2" class="panel-collapse collapse">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.degree, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.field_of_study, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.location, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.degree_year, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Add Education Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                  </div>
                </form>

                {% for row in p2_data %}
                <form class="form-horizontal" role="form" method="POST">
                <div class="form-group list-group-flush">
                      <ul class="list-group">
                        <li class="list-group-item ">Degree: {{ row.degree }}</li>
                        <li class="list-group-item">Field of Study: {{ row.field_of_study }}</li>
                        <li class="list-group-item">Institution: {{ row.institution }}</li>
                        <li class="list-group-item">Location: {{ row.location }}</li>
                        <li class="list-group-item">Year of Degree Award: {{ row.degree_year }}</li>
                        <li class="list-group-item">
                          <input name='degree' type='text' value='{{ row.degree }}' hidden>
                          <input type="submit" class="btn btn-primary" name="submit" value="Remove Education Info">
                        </li>
                      </ul>
                </div>
                </form>
                {% endfor %}

            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">Employment Info</a>
              </h3>
            </div>

            <div id="collapse3" class="panel-collapse collapse">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.location, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.emp_years, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Add Employment Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                  </div>
                </form>

                {% for row in p3_data %}

                <div class="form-group list-group-flush">
                    <form class="form-horizontal" role="form" method="POST">
                      <ul class="list-group">
                        <li class="list-group-item">Institution/Company: {{ row.institution }}</li>
                        <li class="list-group-item">Location: {{ row.location }}</li>
                        <li class="list-group-item">Years: {{ row.emp_years }}</li>
                          <input name='institution' type='text' value='{{ row.institution }}' hidden>
                          <input type="submit" class="btn btn-primary" name="submit" value="Remove Employment Info">
                        </li>
                      </ul>
                    </form>
                </div>
                {% endfor %}

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
<hr>




        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class=" my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © SFI Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/dash/vendor/jquery/jquery.min.js"></script>
    <script src="static/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/dash/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/dash/vendor/chart.js/Chart.min.js"></script>
    <script src="static/dash/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/dash/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/dash/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="static/dash/js/demo/datatables-demo.js"></script>
    <script src="static/dash/js/demo/chart-area-demo.js"></script>

  </body>

</html>
