<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pending Proposals</title>

    <!-- Bootstrap core CSS-->
    <link href="static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/dash/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/dash/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index.html">SFI User Dashboard</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      {% include 'nav.html' %}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>


          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Your Pending Proposals</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Publication Year</th>
                      <th>Type</th>
                      <th>Title</th>
                      <th>Journal Name</th>
                      <th>DOI</th>
                      <th>Grant Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.pub_yr }}</td>
                        <td>{{ row.pub_type }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.journal_name }}</td>
                        <td>{{ row.DOI }}</td>
                        <td>{{ row.grant_no }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse5">
                Funding Diversification
            </a>
        </h5>
    </div>

                {% for row in p6_data %}
                <div id="collapse5" class="panel-collapse collapse">
                    <p>Funding detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Start Date: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">End Date: {{ row.end_date }}</li>
                    <li class="list-group-item list-group-item-dark">Amount of Funding: {{ row.amount_fund }}</li>
                    <li class="list-group-item list-group-item-dark">Funding Body: {{ row.fund_body }}</li>
                    <li class="list-group-item list-group-item-dark">Funding Programme: {{ row.fund_program }}</li>
                    <li class="list-group-item list-group-item-dark">Status: {{ row.status }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse6">
                Team members
            </a>
        </h5>
    </div>

                {% for row in p7_data %}
                <div id="collapse6" class="panel-collapse collapse">
                    <p>Team Member detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Start Date with Team: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">Departure date: {{ row.depart_date }}</li>
                    <li class="list-group-item list-group-item-dark">Name: {{ row.name }}</li>
                    <li class="list-group-item list-group-item-dark">Position within the Team: {{ row.position }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
           </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse7">
                Impacts
            </a>
        </h5>
    </div>

                {% for row in p8_data %}
                <div id="collapse7" class="panel-collapse collapse">
                    <p>Impact detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Impact Title: {{ row.impact_title }}</li>
                    <li class="list-group-item list-group-item-dark">Impact Category: {{ row.impact_category }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Beneficiary: {{ row.primary_beneficiary }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse8">
                Innovation and Commercialisation
            </a>
        </h5>
    </div>
                {% for row in p9_data %}
                <div id="collapse8" class="panel-collapse collapse">
                    <p>Innovation detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Year: {{ row.year }}</li>
                    <li class="list-group-item list-group-item-dark">Type: {{ row.type }}</li>
                    <li class="list-group-item list-group-item-dark">Title: {{ row.title }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse9">
                Publications
            </a>
        </h5>
    </div>

                {% for row in p10_data %}
                <div id="collapse9" class="panel-collapse collapse">
                    <p>Publication detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Publication Year: {{ row.pub_yr }}</li>
                    <li class="list-group-item list-group-item-dark">Publication Type: {{ row.pub_type }}</li>
                    <li class="list-group-item list-group-item-dark">Title: {{ row.title }}</li>
                    <li class="list-group-item list-group-item-dark">Journal/Conference Name: {{ row.journal_name }}</li>
                    <li class="list-group-item list-group-item-dark">Publication Status: {{ row.pub_status }}</li>
                    <li class="list-group-item list-group-item-dark">DOI: {{ row.DOI }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
           <a data-toggle="collapse" href="#collapse10">
                Presentations
            </a>
        </h5>
    </div>
                {% for row in p11_data %}
                <div id="collapse10" class="panel-collapse collapse">
                    <p>Presentation detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Year: {{ row.presentation_year }}</li>
                    <li class="list-group-item list-group-item-dark">Title of Presentation: {{ row.title }}</li>
                    <li class="list-group-item list-group-item-dark">Event Type: {{ row.evt_type }}</li>
                    <li class="list-group-item list-group-item-dark">Organising Body: {{ row.org_body }}</li>
                    <li class="list-group-item list-group-item-dark">Location: {{ row.location }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse11">
                Academic Collaborations
            </a>
        </h5>
    </div>

                {% for row in p12_data %}
                <div id="collapse11" class="panel-collapse collapse">
                    <p>Academic Collaboration detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Start Date: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">End Date: {{ row.end_date }}</li>
                    <li class="list-group-item list-group-item-dark">Name of Institution: {{ row.institution_name }}</li>
                    <li class="list-group-item list-group-item-dark">Department within Institution: {{ row.department_in_institution }}</li>
                    <li class="list-group-item list-group-item-dark">Location: {{ row.location }}</li>
                    <li class="list-group-item list-group-item-dark">Name of Collaborator: {{ row.collaborator_name }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Goal of Collaboration: {{ row.primary_goal }}</li>
                    <li class="list-group-item list-group-item-dark">Frequency Of Interaction: {{ row.frequency_of_interaction }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
           </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse12">
                None-academic Collaborations
            </a>
        </h5>
    </div>
                {% for row in p13_data %}
                <div id="collapse12" class="panel-collapse collapse">
                    <p>None-academic Collaboration detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Start Date: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">End Date: {{ row.end_date }}</li>
                    <li class="list-group-item list-group-item-dark">Name of Institution: {{ row.institution_name }}</li>
                    <li class="list-group-item list-group-item-dark">Department within Institution: {{ row.department_in_institution }}</li>
                    <li class="list-group-item list-group-item-dark">Location: {{ row.location }}</li>
                    <li class="list-group-item list-group-item-dark">Name of Collaborator: {{ row.collaborator_name }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Goal of Collaboration: {{ row.primary_goal }}</li>
                    <li class="list-group-item list-group-item-dark">Frequency Of Interaction: {{ row.frequency_of_interaction }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse13">
                Conferences/Workshops/Seminars Organized
            </a>
        </h5>
    </div>
                {% for row in p14_data %}
                <div id="collapse13" class="panel-collapse collapse">
                    <p>Conferences/Workshops/Seminars Organized detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Start Date: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">End Date: {{ row.end_date }}</li>
                    <li class="list-group-item list-group-item-dark">Title: {{ row.title }}</li>
                    <li class="list-group-item list-group-item-dark">Event Type: {{ row.evt_type }}</li>
                    <li class="list-group-item list-group-item-dark">Role: {{ row.evt_role }}</li>
                    <li class="list-group-item list-group-item-dark">Location of Event: {{ row.evt_location }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse14">
                Communications Overview
            </a>
        </h5>
    </div>
                {% for row in p15_data %}
                <div id="collapse14" class="panel-collapse collapse">
                    <p>Communication detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Year: {{ row.comm_year }}</li>
                    <li class="list-group-item list-group-item-dark">Number of Public lectures/Demonstrations: {{ row.public_lecture_no }}</li>
                    <li class="list-group-item list-group-item-dark">Number of Visits: {{ row.visits_no }}</li>
                    <li class="list-group-item list-group-item-dark">Number of Media Interactions: {{ row.media_interaction_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse15">
                SFI Funding Ratio
            </a>
        </h5>
    </div>
                {% for row in p16_data %}
                <div id="collapse15" class="panel-collapse collapse">
                    <p>SFI Funding Ratio detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Year: {{ row.fund_year }}</li>
                    <li class="list-group-item list-group-item-dark">Percentage of Annual Spend From SFI: {{ row.percentage }}</li>
                </ul>
            </div>
                {% endfor %}
           </div>
        </div>
    </div>

            <div class="col-sm-10">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
            <a data-toggle="collapse" href="#collapse16">
                Education and Public Engagement
            </a>
        </h5>
    </div>
                {% for row in p17_data %}
                <div id="collapse16" class="panel-collapse collapse">
                    <p>Education and Public Engagement detail: {{loop.index}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Name of project: {{ row.project_name }}</li>
                    <li class="list-group-item list-group-item-dark">Start Date: {{ row.start_date }}</li>
                    <li class="list-group-item list-group-item-dark">End Date: {{ row.end_date }}</li>
                    <li class="list-group-item list-group-item-dark">Activity Type: {{ row.activity_type }}</li>
                    <li class="list-group-item list-group-item-dark">Project Topic: {{ row.project_topic }}</li>
                    <li class="list-group-item list-group-item-dark">Target Geographical Area: {{ row.target_area }}</li>
                    <li class="list-group-item list-group-item-dark">Primary Attribution: {{ row.grant_no }}</li>
                </ul>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>


            </div>
        </div>



        <!-- Sticky Footer -->
      <!--  <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer> -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="static/dash/vendor/jquery/jquery.min.js"></script>
    <script src="static/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/dash/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/dash/vendor/chart.js/Chart.min.js"></script>
    <script src="static/dash/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/dash/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/dash/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="static/dash/js/demo/datatables-demo.js"></script>
    <script src="static/dash/js/demo/chart-area-demo.js"></script>

  </body>
  <!-- Footer -->
  {% include 'footer.html' %}
</html>
